 /* 1. FONTS  */
 @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&family=Work+Sans:wght@400;500;600;700;800;900&display=swap');

/* 2. COMMON CSS  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}
ul li{
    list-style: none;
}

.container{
    width:1440px;
    /* background: rgb(200, 232, 234); */
}
/* 3 BUTTON  */
.button-holder .btn{
    /* width: 180px;
    height: 64px; */
    padding:10px 24px;

    font-family: 'Work Sans';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 23px;
text-align: center;
color: #FFFFFF;
background: #FF900E;
border-radius: 8px;
}

/* 4 HEADER  */

header{
   background:rgba(255, 144, 14, 0.1);
   height:100px;
   /* padding:50px 0; */
   display: flex;
   justify-content: center;
   align-items: center;
}
.header-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.logo{
    font-family: 'Work Sans';
font-style: normal;
font-weight: 700;
font-size: 45px;
line-height: 53px;
text-align: center;
color: #131313;

}
.nav-inner .nav{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:30px;
    flex-wrap: wrap;
}

.nav-inner .nav .nav-item .nav-link{
    font-family: 'Work Sans';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 26px;
text-align: center;
color: #424242;
}
/* 5 main  */

/* 6 BANNER SECTION  */
.banner-section{
    width: 100%;
    display: flex;
    justify-content: center;
/* height: 88vh; */
padding: 50px 0;
background:rgba(255, 144, 14, 0.1);
}
.banner-inner{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.banner-content{
    width:862px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}
.banner-content h1{
    
    font-family: 'Work Sans';
font-style: normal;
font-weight: 700;
font-size: 64px;
line-height: 75px;
text-align: center;

/* Dark 01 */

color: #131313;
}
.banner-content p{
    font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
/* or 162% */

text-align: center;

/* Dark 03 */

color: #727272;
margin-bottom: 32px;
}

.banner-images-inner img{
    height:700px;
}



/* About Section  */
.about-section{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
    flex-wrap: wrap;
}
.about-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    /* gap: 73px; */
}
.about-image-gallery {
    /* display: flex; */
    /* display: grid; */
    /* grid-template-rows: repeat(4,2fr); */
    display: grid;
    grid-template-columns: repeat(2,4fr);
    gap:24px;
}

.about-image-gallery img{
    width: 342px;
height: 342px;
/* margin: 12px; */
/* left: 301px; */
}
.about-content{
    width: 537px;
}
.about-content h2{
    font-family: 'Work Sans';
font-style: normal;
font-weight: 500;
font-size: 45px;
line-height: 53px;
width: 468px;
/* Dark 03 */
margin-bottom: 24px;
color: #727272;
}
.about-content h2 .text-black{
    color:#000000;
}
.about-content h2 .orange-clr{
    color: #FF900E;
}


.about-content  p{
    font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
/* or 162% */


/* Dark 03 */

color: #727272;
margin-bottom: 32px;
}

/* feature section  */
.feature-section{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
}


.feature-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 54px;
}


.feature-contents h2{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    
    /* Dark 01 */
    width: 468px;
    color: #131313;
    margin-bottom:24px;
    position: relative;
    margin-left: 21px;
}
.feature-contents h2::after{
    position: absolute;
    content: '';
    width: 5px;
height: 106px;
left:-21px;
top: 0;
/* left: 240px;
top: 2284px; */

background: #FF900E;
}

.feature-contents p{
    /* margin-bottom: 30px; */
    width: 586px;
font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
/* or 162% */


/* Dark 03 */

color: #727272;
}

.feature-card   {
    background: #FFFFFF;
box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
border-radius: 8px;
padding: 30px;
margin-bottom: 20px;
width: 586px;
margin-top: 20px;
}


.feature-card .feature-card-body h6{
    
font-family: 'Work Sans';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 23px;

/* Dark 01 */

color: #131313;
margin-bottom: 10px;
}



.feature-card .feature-card-body p{

    width: 514px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    /* or 162% */
    
    
    /* Dark 03 */
    
    color: #727272;

}
.feature-images-inner{
    position: relative;
}
.feature-img img{
    height: 982px;
}
.experience{
    /* Rectangle 5 */
text-align: center;
padding: 46px 42px;
position: absolute;
bottom:-40px;
left:-80px;
width: 342px;
/* height: 200px; */
/* left: 880px;
top: 3104px; */

background: #FF900E;
border-radius: 8px;
}
.experience h2{
    font-family: 'Work Sans';
font-style: normal;
font-weight: 700;
font-size: 65px;
line-height: 70px;
text-align: center;
color: #FFFFFF;
}

.experience span{
font-size: 16px;
color: #FFFFFF;
}

/* counter SECTION  */
.counter-section{
display: flex;
justify-content: center;
align-items: center;

}

.counter-heading h2{
    font-family: 'Work Sans';
font-style: normal;
font-weight: 700;
font-size: 45px;
line-height: 53px;
/* identical to box height */


/* Dark 01 */

color: #131313;


}
.counter-heading p{
    width: 542px;
font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
/* or 162% */


/* Dark 03 */

color: #727272;
}
.counter-inner{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 124px;
    padding: 50px;

}
.counter-box{
    width: 242px;
    padding: 45px 0;
    /* padding: 46px 36px; */
border: 1px solid #FF900E;
border-radius: 8px;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
transition: all 500ms ease-in-out;
}
.counter-box:hover{
    cursor: pointer;
    box-shadow: 0px 12px 30px 0px rgba(0, 0, 0, 0.2);
    transform: translateY(-20px);
    transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
}

.counter-box .icon img{
    width: 45px;
    height: 45px;
    margin-bottom: 10px;
}
.counter-box h4{
    font-family: 'Work Sans';
font-style: normal;
font-weight: 600;
font-size: 45px;
line-height: 53px;
/* identical to box height */

text-align: center;

/* Dark 02 */

color: #424242;


    margin-bottom: 5px;
}

.counter-box h6{
    
font-family: 'Work Sans';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 23px;

/* Dark 03 */

color: #727272;

}


/* brand section  */
.brand-section{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
}
.brand-inner{
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-wrap: wrap; */
    flex-direction: column;
}
.brand-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.brand-content h2{
    font-family: 'Work Sans';
font-style: normal;
font-weight: 700;
font-size: 45px;
line-height: 53px;
color: #131313;
margin-bottom: 24px;
}

.brand-content p{
    width: 542px;
    padding: 0 30px;
font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
margin-bottom: 50px;
text-align: center;
}

.brands-images{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* flex-direction: column; */
    gap: 150px;
}
.brands-images img{
    width: 140px;
    height: 50px;
    filter: grayscale(100%);
    /* opacity: 0.3; */
    /* margin-right: 154px; */
}



/* Contact  */
.contact-section{
    padding: 50px 30px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.contact-section .heading h2{
    font-family: 'Work Sans';
font-style: normal;
font-weight: 700;
font-size: 45px;
line-height: 53px;
/* identical to box height */


/* Dark 01 */

color: #131313;

text-align: center;
margin-bottom: 24px;
}
.contact-info{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 30px;
}
.contact-info h6{
    font-family: 'Work Sans';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 23px;
color: #131313;
}
.contact-info h6 span i{
    font-size: 24px;
    color: #FF900E;

}


input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #FF900E;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #FF900E;
  }
  
  /* .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  } */
/* footer  */
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    
}

.footer-inner{
    text-align: center;
    padding: 38px 0;
    background: #FFF4E7;
    border-radius: 8px;
}

.footer-inner p{
    font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 23px;
text-align: center;
color: #424242;
}
/* ==========================
                 [ RESPONSIVE DESIGN ]
=============================================== */

@media(max-width:1440px) {
    header{
        padding-left:40px;
        padding-right:40px;
    }
    .container{
        width: 100%;
    }
    
}



/* Mobile  */

@media(max-width:576px){
    /* .container{
       width: 480px;
    } */
    p{
        width: auto;
    }
    .banner-section,.feature-section{
        padding: 50px 30px;
    }
    .banner-content{
        width: auto;
        padding: 20px;
    }
    .banner-content h1 {
        font-size: 32px;
        line-height: 44px;
    }
    .banner-images-inner img {
        width: 100%;
        height: 450px;
    }
    .about-inner{
        display: block;
        padding: 30px;
    }
    .about-image-gallery {
        display: grid;
        grid-template-columns: repeat(1,auto);
        gap:24px;
    }
    .about-image-gallery img{
        width: 100%;
    }
    
    .about-content{
        width: auto;
        margin-top: 30px;
    }
    .about-content h2,.feature-contents h2{
        width: auto;
    }
    .feature-card {
        /* width: 100%; */
        width: auto;
    }
    .feature-img img{
        width: 100%;
        /* height: 350px; */
    }
  .feature-contents p,.feature-card .feature-card-body p{
    width: auto;
  }
  .banner-section{
    padding: 50px 30px;
  }
  .brand-content p{
    width: auto;
    
  }
  .brands-images{
    grid-column-gap:150px;
    grid-row-gap:0;
  }

  .brands-images img{
    margin-bottom: 24px;
  }
  .experience {
    padding: 10px 24px;
    width: auto;
    left: -20px;
}
  .experience h2 {
    font-size: 30px;
    line-height: 40px;
  }
  .counter-section {
    padding: 50px 30px;

  }
  .counter-inner{
    gap:35px;
  }
  .counter-heading p{
    width: auto;
  }
    .footer-inner{
        margin-left: 30px;
        margin-right: 30px;
    }
    .footer-inner p{
        font-size: 14px;
        padding: 0 20px;
    }
}

